.events-graphic-container {
  zoom: 0.75;

  $background: black;
  $border-size: 3px;

  background-color: $background;
  border: $border-size solid $background;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 16px;

  .weekdays {
    display: flex;
    gap: $border-size;
  }

  .header {
    background-color: var(--col-header, #B053EA);
  }

  .row {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    width: 162px;
    background-color: var(--col-background, #E9D7EC);
    padding: 0 6px 12px;
  }

  .row > .header {
    margin-inline: -6px;
    padding: 12px;
    border-block: $border-size solid $background;
  }

  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    color: black;
    font-weight: 500;
    > p { margin: 0; }
    b { font-weight: 900; }
  }

  h2, h3 {
    font-size: 24px;
    line-height: 1.1;
    margin: 0;
  }

  h1 {
    font-size: 40px;
    margin: 0;
    padding: 20px;
  }
}